#pane{
-fx-background-color: linear-gradient(to bottom right, #ff7f50, #31dede);
-fx-background-radius:25px;
-fx-border-radius:25px;
-fx-border-color:tranparent;
}
.button{
-fx-background-color:black;
-fx-border-color:#ff6600;
-fx-border-radius:45px;
-fx-background-radius:50px;

-fx-border-width:2;
}
#favouriteBoxPane{
-fx-background-color:#181823;
-fx-border-radius:25px;
-fx-background-radius:25px;
}
#clipboard{
-fx-background-color:tranparent;
-fx-border-radius:25px;
-fx-background-radius:25px;
}

#search{
-fx-background-radius:15px;
-fx-pref-height:25;
-fx-background-color:white;
-fx-border-color:black;
-fx-border-radius:15px;
}
#menuBar{
-fx-background-color:#181823;
-fx-border-radius:25px;
-fx-background-radius:25px;
}
}
#slide{
-fx-background-color:tranparent;
-fx-border-color:tranparent;
}
#slide:hover{
-fx-border-color:#ff6600;
}

#PaneDown{
-fx-background-color:#181823;
-fx-border-radius:25px;
-fx-background-radius:25px;
}
.transparent{
-fx-background-color: rgba(0,0,0,0);
}
#truePane{
-fx-background-radius:25px;
-fx-background-color:White;
}
#Card{
-fx-background-radius:25px;
-fx-background-color:Orange;

}
#hboxes{
-fx-background-color:#181823;
}
#humidity{
-fx-line-spacing: -5;
}
#weather{

}
.label{
-fx-alignment:Center
}
